*{
    margin: 0;
    padding: 0;
    
}

.hidden{
    display: none;
}

body{
    color : rgb(255, 255, 255);
    background: no-repeat;
    background-size: cover;
}

.black{
    color : black;
}

#greetingContainer{
    font-size: 1.7rem;
    position: relative;
    bottom: -300px;
    text-align: center;
}
#login-input{
    font-size: 1.7rem;
    width: 440px;
    border: none;
    border-bottom: 3px solid #ffffff; 
    outline: none; 
    background-color: #00000000;
    color: #ffffff;
}

#enterContainer{
    position: relative;
    bottom: -220px;
    text-align: center;
}
#clock{
    font-size: 120px;
    text-align: center;
}

#clock,#greeting,#quote,#todoModalOpen,#hello,#linkOpen,#quoteModalOpen,#weather {
    animation: displayFirst 0.5s ease-in-out 1 alternate;
}

@keyframes displayFirst{
    from{
        color: #00000000;
    }to{
        color: #ffffff;
    }
}

#greeting{
    font-size: 35px;
    text-align: center;
}

#quote{
    text-align: center;
    position: relative;
    bottom: -565px;
    font-size: 1.0rem;
} 

#todoModalOpen{
    font-size: 1.5rem;
    position: absolute;
    bottom: 10px;
    right: 35px;
    background-color: #00000000;
    border: none;
    outline: none;
    color: white;
}

#todoModalOpen:hover{
    color: #aaa;
}

/* 투두 모달 스타일 */
  .modal-content {
    display: none;
    background-color: #00000000;
    /* 레이어층 결정 */
    z-index: 1;    
    border-radius: 5px;
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: 190px;   
    padding: 20px;
    /* overflow: scroll; */
  } 


  #todo-input{
    font-size: 1.2rem;
    position: absolute;
    bottom: 10px;
    left: -8px;
    color: white;
    background-color: #00000000;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 3px;
    outline: none;
    width: 220px;
  }

  ::placeholder {
    /* 대부분의 최신 브라우저 */
    /* color: rgba(239, 236, 236, 0.663); 원하는 색상으로 변경 */
    font-size: 1.2rem;
    color: rgba(239, 236, 236, 0.663); /* 원하는 색상으로 변경 */
  }

  #todo-list{
    position: absolute;
    bottom: 40px;
    left: 10px;
    list-style: none;
  }

.span{
    display: inline-block;
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.li{
    font-size: 1.2rem;
    height: 2rem;
    position: relative;
    left : -17px;
}
.checkbox{
    margin-right : 5px;
    position: relative;
    bottom: 5px;
    
}

.todoDeletebtn{
    color: white;
    display: inline-block;
    font-size: 1.1rem;
    background-color: #00000000;
    border: none;
    position: relative;
    bottom: 7px;
}

#linkOpen{
    position: absolute;
    top: 10px;
    left: 15px;
    background-color: #00000000;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5rem;
}

#linkOpen:hover{
    color: #aaa;
}
/* 링크 모달 스타일 */
.linkModal {
    display: none;
    background-color: #00000000;
    /* 레이어층 결정 */
    z-index: 1;    
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 13px; 
    width: 100px;   
    padding: 20px;
    /* overflow: scroll; */
  } 
  #link-inputName{
    font-size: 1.2rem;
    position: absolute;
    top: 17px;
    left: 3px;
    color: white;
    background-color: #00000000;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 3px;
    outline: none;
    width: 100px;
  }
    #link-inputLink{
    font-size: 1.2rem;
    position: absolute;
    top: 17px;
    right: -75px;
    color: white;
    background-color: #00000000;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 3px;
    outline: none;
    width: 100px;
  }
  .linkDeleteBtn{
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    background-color: #00000000;
    border: none;
    position: relative;
    top : -5px;
  }

#link-list{
  position: absolute;
  left: 21px;
  top : 50px;
  list-style: none;
}

.li1{
    font-size: 1.2rem;
    height: 2rem;
    width: 215px;
    position: relative;
    left : -17px;
}
.a{
    display: inline-block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}
.quoteModal{
    display: none;
    background-color: #00000000;
    /* 레이어층 결정 */
    z-index: 1;    
    border-radius: 5px;
    position: absolute;
    bottom: 30px;
    left: 13px; 
    width: 100px;   
    padding: 20px;
    /* overflow: scroll; */
}

#quoteModalOpen{
    position: absolute;
    bottom: 10px;
    left: 15px;
    background-color: #00000000;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5rem;
}

#quoteModalOpen:hover{
    color: #aaa;
}

#quote-inputquote{
    font-size: 1.2rem;
    position: absolute;
    bottom: 50px;
    left: 3px;
    color: white;
    background-color: #00000000;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 3px;
    outline: none;
    width: 150px;
}

#quote-inputauther{
    font-size: 1.2rem;
    position: absolute;
    bottom: 17px;
    left: 3px;
    color: white;
    background-color: #00000000;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 3px;
    outline: none;
    width: 150px;
}
