*{
    margin: 0;
    padding: 0;
    
}

.hidden{
    display: none;
}

body{
    color : white;
    background: no-repeat;
    background-size: cover;
}

.black{
    color : black;
}

#greetingContainer{
    position: relative;
    bottom: -165px;
    text-align: center;
}
#login-input{
    width: 265px;
    border: none;
    border-bottom: 3px solid #000; 
    outline: none; 
    background-color: #00000000;
}

#enterContainer{
    position: relative;
    bottom: -120px;
    text-align: center;
}
#clock{
    font-size: 70px;
    height: 70px;
}

#greeting{
    font-size: 20px;
}

#quote{
    text-align: center;
    position: relative;
    bottom: -305px;
    font-size: 5px;
} 

