*{
    margin: 0;
    padding: 0;
    
}

.hidden{
    display: none;
}

body{
    color : rgb(255, 255, 255);
    background: no-repeat;
    background-size: cover;
}

.black{
    color : black;
}

#greetingContainer{
    position: relative;
    bottom: -165px;
    text-align: center;
}
#login-input{
    width: 265px;
    border: none;
    border-bottom: 3px solid #ffffff; 
    outline: none; 
    background-color: #00000000;
    color: #ffffff;
}

#enterContainer{
    position: relative;
    bottom: -120px;
    text-align: center;
}
#clock{
    font-size: 70px;
    height: 70px;
    
}

#clock,#greeting,#quote,#todoModalOpen,#hello   {
    animation: displayFirst 0.5s ease-in-out 1 alternate;
}

@keyframes displayFirst{
    from{
        color: #00000000;
    }to{
        color: #ffffff;
    }
}

#greeting{
    font-size: 20px;
}

#quote{
    text-align: center;
    position: relative;
    bottom: -330px;
    font-size: 5px;
} 

#todoModalOpen{
    position: absolute;
    bottom: 10px;
    right: 15px;
    background-color: #00000000;
    border: none;
    outline: none;
    color: white;
}

#todoModalOpen:hover{
    color: #aaa;
}

/* 투두 모달 스타일 */
  .modal-content {
    display: none;
    background-color: #00000000;
    /* 레이어층 결정 */
    z-index: 1;    
    border-radius: 5px;
    position: absolute;
    bottom: 40px;
    right: 10px;
    width: 120px;   
    padding: 20px;
    /* overflow: scroll; */
  } 


  #todo-input{
    font-size: 10px;
    position: absolute;
    bottom: 1px;
    left: 10px;
    color: white;
    background-color: #00000000;
    border: solid 1px rgb(231, 227, 227);
    border-radius: 3px;
    outline: none;
    width: 142px;
  }

  ::placeholder {
    /* 대부분의 최신 브라우저 */
    /* color: rgba(239, 236, 236, 0.663); 원하는 색상으로 변경 */
    font-size: 10px;
    color: rgba(239, 236, 236, 0.663); /* 원하는 색상으로 변경 */
  }

  #todo-list{
    position: absolute;
    bottom: 15px;
    left: 10px;
    list-style: none;
  }

.span{
    display: inline-block;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
}

.li{
    height: 20px;
}

.todoDeletebtn{
    color: white;
    display: inline-block;
    font-size: 12px;
    background-color: #00000000;
    border: none;
}

#linkOpen{
    position: absolute;
    top: 10px;
    left: 15px;
    background-color: #00000000;
    border: none;
    outline: none;
    color: white;
}

#linkOpen:hover{
    color: #aaa;
}
/* 링크 모달 스타일 */
.linkModal {
    display: none;
    background-color: #00000000;
    /* 레이어층 결정 */
    z-index: 1;    
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 13px; 
    width: 100px;   
    padding: 20px;
    /* overflow: scroll; */
  } 
  #link-inputName{
    font-size: 10px;
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    background-color: #00000000;
    border: solid 1px rgb(231, 227, 227);
    border-radius: 3px;
    outline: none;
    width: 60px;
  }
    #link-inputLink{
    font-size: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    background-color: #00000000;
    border: solid 1px rgb(231, 227, 227);
    border-radius: 3px;
    outline: none;
    width: 60px;
  }
  .linkDeleteBtn{
    color: white;
    display: inline-block;
    font-size: 12px;
    background-color: #00000000;
    border: none;
  }

#link-list{
  position: absolute;
  left: 10px;
  list-style: none;
}
.a{
    display: inline-block;
    width: 117px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
    text-decoration: none;
    color: white;
}